In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ruta_del_archivo = 'data/ventas_web.xlsx'

# Lee el archivo xlsx y carga los datos en un DataFrame
#instalar = pip install openpyxl
df = pd.read_excel(ruta_del_archivo)

In [3]:
df.head(5)

,Column1,Tipo_vivienda,Direccion,Barrio,Distrito,Población,Precio,Superficie,Habitaciones,Baños,Precio/m²
0,0,Piso,calle del Aguado,Hispanoamérica-Las Comunidades,Valdemoro,Valdemoro,215000.0,122.0,3 habs.,2 baños,1762.295082
1,1,Piso,"calle de las Procesiones, 31",Centro,Galapagar,Galapagar,140000.0,66.0,2 habs.,1 baño,2121.212121
2,2,Casa unifamiliar,"calle de Degaña, 19",Villalbilla,Villalbilla,Villalbilla,279000.0,180.0,4 habs.,3 baños,1550.000000
3,3,Piso,calle del Referéndum de Viñagrande,Valderas-Los Castillos-Parque Lisboa,Alcorcón,Alcorcón,196800.0,85.0,4 habs.,1 baño,2315.294118
4,4,Piso,Paseo de la Cárcava,Griñón,Griñón,Griñón,130000.0,86.0,3 habs.,1 baño,1511.627907

In [10]:
df["Precio/m²"] = df["Precio/m²"].round(2)

In [11]:
df.head(5)

,Column1,Tipo_vivienda,Direccion,Barrio,Distrito,Población,Precio,Superficie,Habitaciones,Baños,Precio/m²
0,0,Piso,calle del Aguado,Hispanoamérica-Las Comunidades,Valdemoro,Valdemoro,215000.0,122.0,3 habs.,2 baños,1762.30
1,1,Piso,"calle de las Procesiones, 31",Centro,Galapagar,Galapagar,140000.0,66.0,2 habs.,1 baño,2121.21
2,2,Casa unifamiliar,"calle de Degaña, 19",Villalbilla,Villalbilla,Villalbilla,279000.0,180.0,4 habs.,3 baños,1550.00
3,3,Piso,calle del Referéndum de Viñagrande,Valderas-Los Castillos-Parque Lisboa,Alcorcón,Alcorcón,196800.0,85.0,4 habs.,1 baño,2315.29
4,4,Piso,Paseo de la Cárcava,Griñón,Griñón,Griñón,130000.0,86.0,3 habs.,1 baño,1511.63

In [21]:
df.drop('Column1', axis=1, inplace=True)

In [22]:
df.head(5)

,Tipo_vivienda,Direccion,Barrio,Distrito,Población,Precio,Superficie,Habitaciones,Baños,Precio/m²
0,Piso,calle del Aguado,Hispanoamérica-Las Comunidades,Valdemoro,Valdemoro,215000,122.0,3 habs.,2 baños,1762.30
1,Piso,"calle de las Procesiones, 31",Centro,Galapagar,Galapagar,140000,66.0,2 habs.,1 baño,2121.21
2,Casa unifamiliar,"calle de Degaña, 19",Villalbilla,Villalbilla,Villalbilla,279000,180.0,4 habs.,3 baños,1550.00
3,Piso,calle del Referéndum de Viñagrande,Valderas-Los Castillos-Parque Lisboa,Alcorcón,Alcorcón,196800,85.0,4 habs.,1 baño,2315.29
4,Piso,Paseo de la Cárcava,Griñón,Griñón,Griñón,130000,86.0,3 habs.,1 baño,1511.63

In [23]:
df_final = "viviendas_web_ventas.xlsx"

# Guardar el DataFrame como un archivo CSV
df.to_excel(df_final, index=False)

### Lectura de nuevo df ventas

In [24]:
ruta_del_archivo = 'data/viviendas_web_ventas.xlsx'

# Lee el archivo xlsx y carga los datos en un DataFrame
#instalar = pip install openpyxl
df = pd.read_excel(ruta_del_archivo)

In [25]:
df.head(5)

,Tipo_vivienda,Direccion,Barrio,Distrito,Población,Precio,Superficie,Habitaciones,Baños,Precio/m²
0,Piso,calle del Aguado,Hispanoamérica-Las Comunidades,Valdemoro,Valdemoro,215000,122.0,3 habs.,2 baños,1762.30
1,Piso,"calle de las Procesiones, 31",Centro,Galapagar,Galapagar,140000,66.0,2 habs.,1 baño,2121.21
2,Casa unifamiliar,"calle de Degaña, 19",Villalbilla,Villalbilla,Villalbilla,279000,180.0,4 habs.,3 baños,1550.00
3,Piso,calle del Referéndum de Viñagrande,Valderas-Los Castillos-Parque Lisboa,Alcorcón,Alcorcón,196800,85.0,4 habs.,1 baño,2315.29
4,Piso,Paseo de la Cárcava,Griñón,Griñón,Griñón,130000,86.0,3 habs.,1 baño,1511.63

In [27]:
df.dtypes

Tipo_vivienda     object
Direccion         object
Barrio            object
Distrito          object
Población         object
Precio             int64
Superficie       float64
Habitaciones      object
Baños             object
Precio/m²        float64
dtype: object